[submodule "config-server"]
	path = config-server
	url = https://github.com/Uguimar-Platform/config-server
[submodule "service-discovery"]
	path = service-discovery
	url = https://github.com/Uguimar-Platform/service-discovery
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Uguimar-Platform/auth-ms.git
[submodule "notifications-ms"]
	path = notifications-ms
	url = https://github.com/Uguimar-Platform/notifications-ms.git
