[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Uguimar-Platform/client-gateway.git
[submodule "auth-ms"]
	path = auth-ms
	url = https://github.com/Uguimar-Platform/auth-ms.git
